.authentication {
    background-color: rgb(173, 173, 173);
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.authentication_form {
    width: 100%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.377);
    padding: 20px !important;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(96, 94, 94, 0.5);
    border-radius: 10px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

/* * {
    font-family: Arial, Helvetica, sans-serif !important;
} */

input {
    width: 100%;
    border-radius: 5px !important;
    border: 1px solid rgba(120, 120, 120, 0.556);
    height: 35px;
    padding: 2px 2px;

}

.ant-btn {
    background-color: rgb(74, 74, 157) !important;
    color: white;
    margin-left: 35%;
}

.anchor {
    margin-left: 5%;
    color: blue;
    text-decoration: none;
    margin-left: 223px;
}

.Spotlight {
    color: rgb(255, 255, 255);
    margin: 0;
}

.subHeader {
    background-color: rgb(0, 0, 0);
    padding: 10px 10px 10px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.guest_home {
    width: 300px;
    color: white;
}

/* Responsive styles */
@media screen and (max-width: 600px) {

    /* Adjust padding for smaller screens */
    .subHeader {
        padding: 10px;
    }

    /* Make h1 and h6 elements block-level */
    .subHeader h2,
    .subHeader h6 {
        display: block;
        margin-bottom: 10px;
    }

    /* Center h1 and h6 elements on smaller screens */
    .subHeader h1,
    .subHeader h6 {
        text-align: center;
    }

    /* Adjust width for .guest_home on smaller screens */
    .guest_home {
        width: 100%;
    }
}

.authentication {
    background-image: url("../../../public/images/R&L.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

@media screen and (max-width: 768px) {
    .image-background {
        background-size: contain;
    }
}

/* Login */
.forget {
    margin-left: 60%;
    text-decoration: none;
    color: blue;
}

label {
    color: rgb(255, 255, 255) !important;
}

.bannerAdd {
    margin-left: 1%;
    width: 150px;
    margin-top: 1%;
    height: 40px;
    background: rgb(0, 229, 255) !important;
    font-size: 20px;
}

.banner-div {
    border: 1px solid rgba(0, 0, 0, 0.686);
    margin-top: 116px !important;
    margin-right: 134px;
    margin-left: 353px;
    box-shadow: 0 0 10px rgba(96, 94, 94, 0.5);
}

.banner_label {
    color: black !important;
}


.banner_botton {
    width: 200px;
    margin-top: 10px;
    margin-left: 39%;
    font-size: 15px !important;
}

.banner_heading {
    font-size: 30px;
    margin-left: 37%;
}

.banner_labels {
    color: black !important;
}
/* booking -form */
.bookng-form-div{
    background:#0F9F8B;
    border-radius:10px;
    width:65%;
    margin-left:17%
}
.booking-form-main-div{
   
}